<?xml version="1.0" ?>
<robot name="unitree_a1">
    <webots>
        <device reference="range-finder" type="Lidar">
            <ros>
                <enabled>false</enabled>
                <updateRate>30</updateRate>
                <topicName>/camera/deep/points</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>range-finder</frameName>
            </ros>
        </device>

        <device reference="velodyn-16" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>10</updateRate>
                <topicName>/velodyne_points</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>lidar16</frameName>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>400</updateRate>
            <topicName>/imu/data</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>trunk_imu inertial</inertialUnitName>
            <gyroName>trunk_imu gyro</gyroName>
            <accelerometerName>trunk_imu accelerometer</accelerometerName>
        </plugin>

        <plugin type="webots_ros2_control::Ros2Control" />

        <plugin type="webots_ros2_a1.a1_driver.A1Driver" />

        <plugin type="webots_sim_data_publisher::WebotsFootContactPublisher">
            <enabled>true</enabled>
            <updateRate>1000</updateRate>
            <topicName>/foot_force</topicName>
            <alwaysOn>true</alwaysOn>
            <touchSensorName>FR_foot FL_foot RR_foot RL_foot</touchSensorName>
            <touchSensorFrameName>FR_foot FL_foot RR_foot RL_foot</touchSensorFrameName>
        </plugin>

        <!-- <plugin type="webots_sim_data_publisher::WebotsBasePoseBroadcaster" />
 -->

        <!-- type="package_name.file_name.class_name" -->
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>

        <joint name="FR_hip_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="FR_thigh_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="FR_calf_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>

        <joint name="FL_hip_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="FL_thigh_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="FL_calf_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>

        <joint name="RR_hip_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="RR_thigh_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="RR_calf_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>

        <joint name="RL_hip_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="RL_thigh_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>
        <joint name="RL_calf_joint">
            <state_interface name="position"/>
            <command_interface name="effort"/>
        </joint>

    </ros2_control>
</robot>
